body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(10, 42, 90);
  padding: 0;
  margin: 0;

  font-family: 'Hedvig Letters Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

.containerLeft{

  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 20px 10px 10px 1px rgb(0, 0, 0);
}
.containerRight{
background-color: seashell;
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img1{
  width: 25%;

  object-fit: cover;
}
.img2{
  width: 35%;

  object-fit: cover;
}

.contButton{
  margin: 20px;
  margin-top: 60px;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgb(22, 65, 129);
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #ffffff27;
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
  
}
.title{
  color: rgb(250, 244, 250);
  font-weight: 200;
  font-style: normal;
}

  